{
  "ext": "js,ts,json",
  "watch": ["src"],
  "exec": "node dist/main.js",
  "ignore": ["dist"],
  "execMap": {
    "js": "node --experimental-specifier-resolution=node",
    "ts": "node --loader ts-node/esm --experimental-specifier-resolution=node"
  }
}
